<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./assets/css/index.css" />
    <title>home</title>
  </head>
  <body>
    <section class="pagina_home">
      <div class="menu_lateral">
        <div>
          <img src="./assets/img/menu_icon.svg" alt="" id="menu-toggle" />
        </div>
        <nav id="menu-nav">
          <p>Home</p>
          <p>Gráficos</p>
        </nav>
      </div>
      <header>
        <nav>
          <section class="caixa_de_pesquisa">
            <input type="text" placeholder="Buscar Nome" />
            <img src="./assets/img/lupa_icon.png" alt="" />
          </section>
          <section class="botao_de_inserir">
            <button class="post">Adicionar</button>
          </section>
          <section class="perfil_do_usuario">FM</section>
        </nav>
      </header>
      <main class="quadro_home">
        
      </main>
      <section class="popup">
            <form action="" class="formulario">
              <button class="Adicionar_form">Adicionar</button>
              <div class="Sair_popup"><img src="./assets/img/X.svg" alt=""></div>
                <section class="form_lado_mae">
                  <h3>Dados da Gestante:</h3>
                  <br>
                  <section>
                    <div>
                      <div><input type="text" name="nome" placeholder="Nome"></div>
                      <div><input type="text" name="data_nascimento" placeholder="Data de Nascimento"></div>
                      <div><input type="text" name="endereco" placeholder="Endereço"></div>
                      <div><input type="text" name="pos_parto_mae" placeholder="Pós-Parto"></div>
                    </div>
                    <div>
                      <div><input type="text" name="cpf" placeholder="CPF"></div>
                      <div><input type="text" name="acompanhamento_medico" placeholder="Acompanhamento Médico"></div>
                      <div><input type="text" name="ano" placeholder="Ano"></div>
                      <div><input type="text" name="periodo_gestacao" placeholder="Período de Gestação"></div>
                    </div>
                  </section>
                </section>
                <section class="form_lado_bebe">
                  <h3>Dados do bebê:</h3>
                  <br>
                  <section>
                    <div>
                      <div><input type="text" name="controle_parto" placeholder="Controle de Parto"></div>
                      <div><input type="text" name="sexo_bebe" placeholder="Sexo"></div>
                      <div><input type="text" name="pos_parto_bebe" placeholder="Pós-Parto"></div>
                    </div>
                    <div>
                      <div><input type="text" name="peso_bebe" placeholder="Peso"></div>
                      <div><input type="text" name="deficiencia" placeholder="Deficiência"></div>
                      
                      
                    </div>
                  </section>
                </section>
                </section>
                
            </form>
      </section>
    </section>
    <script src="./assets/js/index.js"  type="module" >
    </script>
  </body>
</html>
