@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@200&family=Open+Sans:wght@300;600&display=swap');

section {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #EDEDED;
    width: 1400px;
    height: 691px;
    font-family: 'Open Sans', sans-serif;
}

form {
    width: 496px;
    height: 586px;
    position: relative;
    background-color: #FFFFFF;
    border-radius: 30px;
}

h1 {
    color: #FF4F6E;
    font-family: 'Open Sans';
    font-style: normal;
    font-size: 34px;
    display: flex;
    justify-content: center;
    margin-top: 47px;
    margin-bottom: 22px;
    font-weight: 600;
}

label, p {
    margin-left: 107.49px;
    font-size: 18px;
    color: black;
    font-weight: 300;
}

input {
    padding-left: 10px;
    font-size: 16px;
    color: #FF4F6E;
    display: block;
    width: 294.65px;
    height: 43.54px;
    border: none;
    border-radius: 50px;
    background: #F7F7F7;
    margin-left: 96.07px;
    margin-top: 4px;
    margin-bottom: 6px;
}

input::placeholder {
    color: rgba(0, 0, 0, 0.47);
}

input:focus {
    outline: none;
    border: 1px solid rgba(87, 87, 87, 0.47);;
}

#cadastrar {
    margin-top: 32px;
    margin-bottom: 0;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    color: #FFFFFF;
    background-color: #FF5473;
    border: none;   
}

p {   
    margin-top: 5px;
    font-size: 13px;
    font-weight: 400;
}

#login {
    font-weight: 400;
    margin-left: 4px; 
    color: #FF4F6E;
}